<nav *ngIf="backendService.isLoggedIn">
    <div class="container">
        <ul class="nav navbar-nav" routerLinkActive="active">
            <li class="nav-item"><a class="nav-link" routerLink="home">Home</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="todo">To Do List</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="user">User Profile</a></li>
            <li  class="nav-item" (click)=logOut()>Log Out</li>
        </ul>
    </div>
</nav>

<app-login *ngIf="!backendService.isLoggedIn"></app-login>

<button mat-button (click)="openDialog()">Open dialog</button>

<router-outlet></router-outlet>
